#sun {
  background:yellow;
  width: 200px;
  height: 200px;
border-radius: 50%;
}
 div:nth-of-type(2){
        width:1000px;
        height: 200px;
        margin-top: 300px;
        background: blue;
    }
.click{
   animation:
    sunset 1s ease-in forwards;
}
@keyframes sunset {
    to{
        transform: translateY(45vw);
    }


}
