*:not(img){
    background-image: url(background.jpg);
}
.powerpuffpicture{
    margin-top: 100px;
}
button{
    color: black;
     text-align: center;
    font-size: 26px;
    background-color: black;
    border-color: black;
    border-radius: 6px;
    margin-right: 2px;
}


/*FADE IN AND OUT*/

.fadeCSS {
    animation: fade 2s ease-in infinite;
}


@keyframes fade{
    0%,100%{
    opacity: 0;
    }
    25%, 75%{
        opacity: .5;
    }
  50%{
      opacity: 1;
    }
}

/*FALL DOWN*/

.falldownCSS{
    animation: falldownkey 1s ease-in forwards;
}
@keyframes falldownkey{
    to{
            transform: rotate(-100deg);
    transform-origin: 100% 100%;

    }
}

/*TALK*/

.talkCSS{
    animation: talkkey 2s;
}
@keyframes talkkey{
    10%,70%,100%{
        transform: rotate(10deg);
    }
    20%,60%,90%{
        transform: rotate(20deg);
    }
    30%,50%,80%,0%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(10deg);
    }

}

/*SHAKE*/

.shakeCSS{
    animation: shakekey 0.1s 4;
}
@keyframes shakekey{
    25%{
        transform: translateX(9px);
    }
    75%{
        transform: translateX(-9px);
    }
}

/*MOVE*/

.moveCSS{
    animation: movekey 1s infinite;
}
@keyframes movekey{
    0%{
        transform: translateX(-10vw)
    }
    100%{
        transform: translateX(110vw);
    }
}

/*MOVE30*/

.move30CSS{
    animation: move30key 1s ease-out forwards;
}
@keyframes move30key{
    0%{
        transform: translateX(-10vw);
    }
    100%{
        transform: translateX(30vw);
    }
}

/*MOVE FROM 30*/

.movefrom30CSS{
    animation: movefrom30key 1s ease-in forwards;
}
@keyframes movefrom30key{
    0%{
        transform: translateX(30vw);
    }
    100%{
        transform: translateX(110vw);
    }
}

/*JUMP*/

.jumpCSS{
    animation: jumpkey 2s ease-out;
}

@keyframes jumpkey{
    20%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*JUMPING*/

.jumpingCSS{
    animation: jumpingkey 1s ease-out infinite;
}
@keyframes jumpingkey{
    20%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(0px);
    }








